header{
    border-top:solid;
    border-right:solid;
    border-left:solid;
    border-bottom:solid;
    margin-bottom:0px;

}
.tagLine {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 60px;
}
.title {
    font-weight: bold;
    font-size: 48px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}
#covidAlert{
    text-align:left;
    font-size:24px;
    margin-top:0px;
    margin-bottom:0px;
    border-bottom:solid;
}

#navigation a{
    font-weight: bold;
    text-decoration:none;
}
    #navigation a:hover, #navigation a:focus, #navigation a:active {
        text-decoration: none;
    }

nav ul {
    padding:0;
    margin-top:0;
    margin-bottom:0;
}

nav ul li{
    display:inline-block;
}
nav ul li a{
    display:block;
    padding-right:25px;
}
#socialMedia {
    font-size: 30px;
    text-align: right;    
    text-decoration: none;
    float:right;
}
    #foot{
    font-style:italic;
    border:solid;
    clear:both;
    margin-top:0px;
}

main{
    margin-top:0px;
    margin-bottom:0px;
}