/*#region Header*/
header{
    margin-bottom:25px;
}
.header {
    background-color: #F0F0F2;
    color: #03658C;
    margin: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0d0d0d+0,207cca+70,025e73+100,207cca+101 */
    background: rgb(13,13,13); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(13,13,13,1) 0%, rgba(32,124,202,1) 70%, rgba(2,94,115,1) 100%, rgba(32,124,202,1) 101%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(13,13,13,1) 0%,rgba(32,124,202,1) 70%,rgba(2,94,115,1) 100%,rgba(32,124,202,1) 101%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(13,13,13,1) 0%,rgba(32,124,202,1) 70%,rgba(2,94,115,1) 100%,rgba(32,124,202,1) 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0d0d', endColorstr='#207cca',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 0;
    border-top: solid black;
    border-left: solid black;
    border-right: solid black;

}

    .header h2 {
        color: #03658C;
        font-size: 1.5em;
        padding:0px 0px 0px 1px;
        margin: 0px;
    }

    .header h1 {
        margin: 0px;
        padding: 0px 0px 0px 1px;
    }

    .header ul li {
        list-style: none;
        text-align: right;
        display: inline-block;
    }

        .header ul li a {
            padding: .4em 1em;
            display: block;
            margin: 0;
        }

.covidAlert {
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    background-color: #FF6408;
}

    .covidAlert h3 {
        margin: 0px;
    }
    /*#endregion Header*/
/*#region Logo*/
.logo{
    height:48px;
    width:48px;
    float:left;
}
/*#endregion*/
/*#region Navigation*/
.navigation a {
    font-weight: bold;
    text-decoration: none;
}

    .navigation a:hover, #navigation a:focus, #navigation a:active {
        text-decoration: none;
        background-color: midnightblue;
        color: #03658C;
    }

nav {
    border-right: solid black;
    border-left: solid black;
    border-bottom: solid black;
    background-color: #9AA6AD;
}
nav ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

    nav ul li {
        display: inline-block;
    }

        nav ul li a {
            display: block;
            padding-right:25px;            
        }
/*#endregion Navigation*/
/*#region Social Media*/
.socialMedia{
    float:right;
    box-sizing:border-box;
    margin:0;
}

.socialMedia ul{
    margin:0;
    padding:0;
}
/*#endregion*/
/*#region Floating Pictures*/
.headshots{
    float:left;
    height:200px;
    width:200px;
}
#listHeader{
    list-style:none;
}
#listHeader img{
    margin-right: 20px;
}
.names{
    font-size:2em;
}
.bio{
    list-style:none;
}
/*#endregion*/
/*#region Footer*/
.footer{
    text-align:left;
    font-style:italic;
    margin-top:25px;
    padding:25px;
    border:2px solid black;
    border-collapse:collapse;
}
.footer {
    background-color: #F0F0F2;
    color: #03658C;
    margin: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0d0d0d+0,207cca+70,025e73+100,207cca+101 */
    background: rgb(13,13,13); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(13,13,13,1) 0%, rgba(32,124,202,1) 70%, rgba(2,94,115,1) 100%, rgba(32,124,202,1) 101%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(13,13,13,1) 0%,rgba(32,124,202,1) 70%,rgba(2,94,115,1) 100%,rgba(32,124,202,1) 101%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(13,13,13,1) 0%,rgba(32,124,202,1) 70%,rgba(2,94,115,1) 100%,rgba(32,124,202,1) 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0d0d', endColorstr='#207cca',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.footer ul li {
    list-style: none;
    text-align: right;
    display: inline-block;
}

    .footer ul li a {
        padding: .4em 1em;
        display: block;
        margin: 0;
    }
/*#endregion Footer*/
/*#region Aside*/
#htmlColumnLeft {
    margin-right: 25%;
}
article section h2{
    margin-top:0;
    padding-top:25px;
}
article section{
    border-right:2px solid black;
    margin-bottom:0;
    padding-bottom:25px;
}

#htmlColumnRight {
    width: 25%;
    float: right;
}
#asideHeader{
    position:relative;
}
main aside a{
    text-decoration:none;
    font-size:1.5em;
    line-height:2em;
}
/*#endregion Aside*/
/*#region Index*/
.indexImgLeft{
    width:300px;
    height:295px;
    float:left;
    margin-right:1.7em;
    margin-left:2em;
    margin-top:1.9em;
    background-color:white;
}
.indexImgLeft-2 {
    width: 720px;
    height: 500px;
    float: left;
    margin-right: 1.7em;
    margin-left: 2em;
    margin-top: 0;
    background-color:white;
}
.indexImgRight {
    width: 720px;
    height: 500px;
    float: right;
    margin-right: 1.7em;
    margin-left: 2em;
    margin-top: 0;
    background-color:white;
}
#aboutHead{
    text-align:left;
    text-decoration:underline;
    font-size:2em;
}
.aboutHead2{
    text-align:left;
    font-size:2em;
    margin-left:1.7em;
    margin-bottom:0;
}
.aboutText{
    margin-left:3.4em;
}
/*#endregion Index*/
/*#region Contact*/
.contact{
    list-style:none;
}
#contactHead{
    font-size:3.5em;
    font-weight:bold;
    text-align:center;
    margin-top:.5em;
}

#contactListHead{
    display:inline-block;
}

.contactList{
    list-style:none;
    text-align:left;
    margin-left:300px;
    font-size:3em;
    border:2px solid black;
    margin-bottom:.5em;
}

/*#endregion Contact*/
/*#region Classes*/
.column{
    width:30%;
    float:left;
    padding:5px;
    margin-left:20px;
    margin-right:10px;
}
.row::after{
    content:"";
    clear:both;
    display:table;
}
.thumbnail{
    height:100%;
    width:100%;
    object-fit:cover;
}
/* The noted section below is used for the JS function to keep the text from appearing like a hyperlink.
.column h4 p:hover, .column h4 p:active, .column h4 p:visited{
    text-decoration: none;
    color:black;
}
.column{
    color:black;
    text-decoration:none;
}
    */
#paintTable {
    border-collapse: collapse;
    width: 30%;
    margin-left:25px;
    margin-bottom: 25px;
    float:left;
}
#potteryTable {
    border-collapse: collapse;
    width: 30%;
    margin-left: 25px;
    margin-bottom: 25px;
    float:left; 
}
#sculptTable {
    border-collapse: collapse;
    width: 30%;
    margin-left: 25px;
    margin-bottom: 25px;
    float: left;
}

.tb th, .tb td {
    padding: 5px;
    border: solid 1px #777;
    text-align:center;
}

.tb #tHead2 {
    background-color: #03658C
}
#tHead1{
    background-color:none;
    border:none;

}
#classHead{
    text-align:center;
    font-size:2em;
    
}
/*#endregion*/
    .clear {
    clear: both;
}
main {
    background-color: rgba(211, 211, 211, 0.9) !important;
    border:2px solid black;
    border-collapse:collapse;
}

body {
    background-size: contain;
    background: url('/images/background - Slate.jpg') no-repeat center center fixed;
}

main h2 {
    font-size: 2.5em;
    text-align: center;
}